<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player</title>
</head>
<body>
    <h1>Player Details</h1>
    <ul>
        <li>First Name: <%= player.firstname %> </li>
        <li>Last Name: <%= player.lastname %> </li>
        <li>Number: <%= player.number %> </li>
        <li>Team: <%= player.team %> </li>
    </ul> 
    <a href="/players">All Players</a>
</body>
</html>