<% layout('layouts/Boilerplate') %> 

    <h1>Player Details</h1>
    <ul>
        <li>First Name: <%= player.firstname %> </li>
        <li>Last Name: <%= player.lastname %> </li>
        <li>Number: <%= player.number %> </li>
        <li>Team: <%= player.team %> </li>
    </ul> 
    <a href="/players">All Players</a>
    <a href="/">Home</a>
