<% layout('layouts/Boilerplate') %> 

    <h1>All Players</h1>
    <ul>
        <% for(let player of players) { %>
        <li><a href="/players/<%=player._id%>"><%= player.firstname + ' ' + player.lastname %></a></li>
        <%}%>
    </ul>
