<% layout('layouts/Boilerplate') %> 

    <h1>Team Details</h1>
    <ul>
        <li>Name: <%= team.name %> </li>
        <li>Stadium: <%= team.stadiumName %> </li>
        <img src="<%= team.logoUrl %>" alt="">
    </ul> 