<% layout('layouts/Boilerplate') %> 

    <h1>Team Details</h1>
    <ul>
        <li>Name: <%= team.name %> </li>
        <li>Stadium: <%= team.stadiumName %> </li>
    </ul> 
    <a href="/players">All Players</a>
    <a href="/teams">All Teams</a>
    <a href="/">Home</a>
