<% layout('layouts/Boilerplate') %> 

<h1>Team Details</h1>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= team.TeamLogoUrl %>" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">
                    <%= team.School %>
                </h5>
                <h5 class="card-title">
                    <%= team.Name %>
                </h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Conference: <%= team.Conference %></li>
            </ul>
        </div>
    </div>
</div>