<% layout('layouts/Boilerplate') %> 

    <h1>All College Teams</h1>
    <ul>
        <% for(let team of teams) { %>
        <li><a href="/teams/<%=team._id%>"><%= team.name %></a></li>
        <%}%>
    </ul>
